{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- title -->
    <title>Smart Study</title>
    <!-- favicon -->
    <!--    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />-->
    <!-- keywords and description -->
    <meta name="description" content="Enter text">
    <meta name="keywords" content="Enter text">

    <!-- All CSS -->
    <!--    font css from local-->

    <link href="{% static 'font/bree/stylesheet.css' %}" rel="stylesheet">
    <link href="{% static 'font/myriad/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdtimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdtimepicker-theme.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--    main js from local-->
    <script src="{% static 'js/main.js' %}"></script>

</head>

<body>
    <header class="position-sticky-top">
        <nav class="bg-white shadow">
            <!--            mobile nav start-->
            <div class="container d-lg-none" id="mobile_nav">
                <div class="d-flex align-items-center py-2 py-md-3">
                    <div class="logo">
                        <a href="/" class="heading" style="font-size: 1.5rem">
                            <img src="{% static 'img/rental_logo.png' %}" class="img mr-3" alt="LOGO">
                        </a>
                    </div>
                    <div class="ml-auto">
                        <a href="tel:+123-111-346-3456" class="icon call"></a>
                    </div>
                    <div class="mx-3">
                        <span class="icon noti active"></span>
                    </div>
                    <div id="hamburger" class="">
                        <span class="slow-2x"></span>
                    </div>
                </div>
                <div class="navigation slow-2x">
                    <ul class="m-0 p-0">
                        <li><a href="/" class="d-flex align-items-center py-2 px-3 active"><span class="mr-3 icon home"></span>Home</a></li>
                        <li><a href="/page/about-us/" class="d-flex align-items-center py-2 px-3"><span class="mr-3 icon about"></span>About Us</a></li>
                        <li><a href="/page/browse-equipment-list/" class="d-flex align-items-center py-2 px-3"><span class="mr-3 icon browse"></span>Categories</a></li>
                        <li><a href="/page/how-it-works/" class="d-flex align-items-center py-2 px-3"><span class="mr-3 icon work"></span>How it Works</a></li>
                        <li><a href="/page/contact-us/" class="d-flex align-items-center py-2 px-3"><span class="mr-3 icon call"></span>Contact Us</a></li>
                        <li><a href="#" class="d-flex align-items-center py-2 px-3"><span class="mr-3 icon mail"></span>Mail to Us</a></li>
                        {% if not request.user.is_authenticated %}
                        <li><a href="/login_module/login/" class="d-flex align-items-center py-2 px-3"><span class="mr-3 icon login"></span>Login</a></li>
                        <!--                        after login-->
                        {% else %}
                        <li><a href="#" class="d-flex align-items-center py-2 px-3"><strong class="mr-3 icon alfabet">A</strong><strong>{{request.username}}</strong></a></li>
                        <!--                        or if img uploaded -->
                        <li><a href="#" class="d-flex align-items-center py-2 px-3"><img src="{% static 'img/face.png' %}" class="icon img mr-3" alt="Ali Faysal"><strong>{{request.user}}</strong></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <!--            mobile nav end-->
            <!--            desktop nav start-->
            <div class="container d-none d-lg-block" id="desktop_nav">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="logo">
                            {% if login_as == 'customer' %}
                            <a href="/web/customer/home/" class="heading" style="font-size: 1.5rem">
                                <img src="{% static 'img/rental_logo.png' %}" class="img mr-3" alt="LOGO">
                            </a>
                            {% else %}
                            <a href="/" class="heading" style="font-size: 1.5rem">
                                <img src="{% static 'img/rental_logo.png' %}" class="img mr-3" alt="LOGO">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="upper-row d-flex py-2">
                            <div class="ml-auto d-flex align-items-center">
                                <span class="icon call mr-1"></span> +971-4-436-8888
                            </div>
                            <div class="ml-3 ml-lg-4 d-flex align-items-center">
                                <span class="icon mail mr-1"></span><a href="mailto:info@rental-app.com">info@rental-app.com</a>
                            </div>

                            {% if not request.user.is_authenticated %}
                            <a href="/login_module/login/" class="ml-3 ml-lg-4 d-flex align-items-center">
                                <span class="icon login mr-1 mr-lg-2"></span><strong>Login</strong>
                            </a>
                            {% else %}
                            <div class="ml-3 d-flex align-items-center">
                                <a href="/web/user/notifications/">
                                    <span class="icon noti active"></span>
                                </a>
                            </div>
                            <div class="">
                                <!--                        after login-->

                                <a href="/web/user/profile/" class="ml-3 d-flex align-items-center">
                                    <img src="{% static 'img/face.png' %}" alt="{{request.user}}" class="icon img mr-2" />
                                    <strong>{{request.user}}</strong>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <ul class="m-0 p-0 nav-links d-flex justify-content-end">
                            <li><a href="/" class="d-block py-3 px-4 active">Home</a></li>
                            <li><a href="/page/about-us/" class="d-block py-3 px-4">About Us</a></li>
                            <li><a href="/page/browse-equipment-list/" class="d-block py-3 px-4">Categories</a></li>
                            <li><a href="/page/how-it-works/" class="d-block py-3 px-4">How it Works</a></li>
                            <li><a href="/page/contact-us/" class="d-block py-3 pl-4">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--            desktop nav end-->
        </nav>
    </header>
