{% load static %}
{% include 'login/header.html' %}
<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/owl-theme.css' %}" rel="stylesheet">
<section class="home-header">
    <div class="container">
        <div class="center-box">
            <h1 class="main-heading text-white text-center mb-2">Equipment Rentals is Now Smarter</h1>
            <p class="text-white mb-sm-5 text-sm-center mt-2">Looking for equipment rental? Look no further!</p>
        </div>
    </div>
</section>

<section style="position: relative;">
    <img src="{% static 'img/body-bg.jpg' %}" class="body-bg" alt="" />
    <div class="container py-3">
        <p class="text-center text-success mb-1">Popular Vehicles Rental</p>
        <h2 class="text-center sub-heading my-1">Check the new equipment arrivals for rent here!</h2>
        <div class="d-flex align-items-center my-4 home-tab justify-content-center">
            <a href="javascript:;" data="vehicles" class="tab active">
                <img src="{% static 'img/c-1.jpg' %}" alt="img">
                <p class="m-0">Vehicles</p>
            </a>
            <a href="javascript:;" data="equipments" class="tab mx-3">
                <img src="{% static 'img/c-3.jpg' %}" alt="img">
                <p class="m-0">Equipments</p>
            </a>
        </div>
        <div id="vehicles" class="tab-detail" style="display: block">
            <div class="row">
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-1.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-2.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-3.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-4.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-5.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-6.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-7.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-8.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-5.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-6.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-7.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Vehicles 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <a href="javascript:;" class="bg-white rounded shadow p-3 text-center d-block box-link product-card">
                        <figure class="d-flex align-self-center m-0">

                            <img src="{% static 'img/blank.jpg' %}" alt="name" class="d-block mx-auto" />
                        </figure>
                        <span>View More</span>
                        <p class="my-0 doted-text">&nbsp;</p>
                    </a>
                </div>
                <!--                    <div class="col-12 text-center"><a href="#" class="text-success">View More</a></div>-->
            </div>
        </div>
        <div id="equipments" class="tab-detail" style="display: none">
            <div class="row">
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-1.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-2.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-3.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-4.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-5.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-6.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-7.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-8.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-5.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-6.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407Equipments 407Equipments 407Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <div class="bg-white rounded shadow p-3 text-center product-card">
                        <figure class="d-flex align-self-center m-0">
                            <img src="{% static 'img/c-7.jpg' %}" alt="name" class="d-block mx-auto" /></figure>
                        <p class="my-0 doted-text">Equipments 407</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2 mb-4">
                    <a href="javascript:;" class="bg-white rounded shadow p-3 text-center d-block box-link product-card">
                        <figure class="d-flex align-self-center m-0">

                            <img src="{% static 'img/blank.jpg' %}" alt="name" class="d-block mx-auto" />
                        </figure>
                        <span>View More</span>
                        <p class="my-0 doted-text">&nbsp;</p>
                    </a>
                </div>
                <!--                    <div class="col-12 text-center"><a href="#" class="text-success">View More</a></div>-->
            </div>
        </div>
    </div>
</section>

<section class="categories py-3">
    <div class="container">
        <p class="text-center text-success mb-1">Categories</p>
        <h2 class="text-center sub-heading mt-1 mb-4">Rent your vehicle in just a few clicks …</h2>
    </div>
    <div class="d-flex align-items-center text-center mt-3">
        <div id="left-cat" class="slow-2x ">
            <h3 class="text-center text-white slow-1x">Equipment</h3>
        </div>
        <div id="center-cat" class="slow-2x shadow">
            <div class="text-center p-2 text-white t-detail" style="display: none;">
                <p class="text-white mt-1 mb-0">Equipment</p>
                <h4 class="my-1">Tata Power</h4>
                <p class="mony mt-1"><strong>$30</strong></p>
                <ul class="m-0 p-0 list-unstyled">
                    <li>
                        <strong class="text-muted d-block mb-0">Full Power</strong>
                        <strong>1200HP - 2500HP</strong>
                    </li>
                    <li>
                        <strong class="text-muted d-block">Total Capacity</strong>
                        <strong>1 Metric Ton</strong>
                    </li>
                    <li>
                        <strong class="text-muted d-block">Fuel Type</strong>
                        <strong>Diesel/Petrol</strong>
                    </li>
                </ul>
            </div>
            <div class="text-center p-2 text-white v-detail">
                <p class="text-white mt-1 mb-0">Vehicle</p>
                <h4 class="my-1">Tata LPK</h4>
                <p class="mony mt-1"><strong>$20</strong></p>
                <ul class="m-0 p-0 list-unstyled">
                    <li>
                        <strong class="text-muted d-block mb-0">Full Power</strong>
                        <strong>12km (170)@2500pm</strong>
                    </li>
                    <li>
                        <strong class="text-muted d-block">Total Capacity</strong>
                        <strong>Na</strong>
                    </li>
                    <li>
                        <strong class="text-muted d-block">Fuel Type</strong>
                        <strong>Diesel</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div id="right-cat" class="slow-2x active">
            <h3 class="text-center text-white slow-1x">Vehicles</h3>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <!--                <p class="text-success">About Us</p>-->
                <h2>About Us</h2>
                <p class="mb-5">We’re ready to rent you the vehicle you need. Plain & simple. Whether you want to buy a new machine, rent an equipment for a day, or service your own, we’re your one-stop shop for all things heavy machinery. We lead the car rental sphere and specialize in long-reach and amphibious excavators.</p>
                <p class="mb-4"><a href="#" class="text-success">View More</a></p>
                <div class="rounded bg-white p-3 py-4 text-center shadow my-3 numbers-section">
                    <div class="row">
                        <div class="col-6 col-md-3 mb-4 mb-md-0 number-box">
                            <h3 class="mb-1 mt-0"><span class="counter">1000</span>+</h3>
                            <p class="my-0">Total Number of<br /> Merchants</p>
                        </div>
                        <div class="col-6 col-md-3 mb-4 mb-md-0 number-box">
                            <h3 class="mb-1 mt-0"><span class="counter">2200</span>+</h3>
                            <p class="my-0">Total Number of<br /> Customers</p>
                        </div>
                        <div class="col-6 col-md-3 number-box">
                            <h3 class="mb-1 mt-0"><span class="counter">3500</span>+</h3>
                            <p class="my-0">Total Number of<br /> Order</p>
                        </div>
                        <div class="col-6 col-md-3 number-box">
                            <h3 class="mb-1 mt-0"><span class="counter">3462</span>+</h3>
                            <p class="my-0">Total Completed<br /> Order</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-4">
                <img src="{% static 'img/img.jpg' %}" alt="img" class="d-block rounded">
            </div>
        </div>
    </div>
</section>

<section class="py-3" id="working">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="w-box text-white p-3 text-center">
                    <figure class="m-0">
                        <img src="{% static 'img/img-3.png' %}" alt="img" class="d-block mx-auto" />
                    </figure>
                    <h3 class="my-1 mt-2">Search</h3>
                    <p class="my-0">Quickly search and compare the equipment to choose one that best fits your need.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="w-box text-white p-3 text-center">
                    <figure class="m-0">
                        <img src="{% static 'img/img-1.png' %}" alt="img" class="d-block mx-auto" />
                    </figure>
                    <h3 class="my-1 mt-2">Book Online</h3>
                    <p class="my-0">Book your equipment right online in just a matter of a few clicks and swipes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="w-box text-white p-3 text-center no-border">
                    <figure class="m-0">
                        <img src="{% static 'img/img-2.png' %}" alt="img" class="d-block mx-auto" />
                    </figure>
                    <h3 class="my-1 mt-2">Start Working</h3>
                    <p class="my-0">Your rental equipment is ready to use.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-3 bg-light pb-md-4">
    <div class="container">
        <p class="text-success text-center mb-1">Testimonial Us</p>
        <h2 class="text-center mt-1">What People Say About Us?</h2>
        <div class="test-box owl-carousel" id="testimonial-box">
            <div class="item">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <figure class="m-0">
                            <img src="{% static 'img/testimonial.jpg' %}" alt="user" class="d-block mx-auto" />
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <!--                        <h2>Rental is full service supplier</h2>-->
                        <p class="mb-md-5">“easyrento is the best online portal for renting cars and other equipment. I found the latest, serviceable, and high-performing car here. Thanks!,”</p>
                        <div class="user">
                            <p class="d-flex align-items-center my-1">Rusty <span class="ml-3 star-rate rate-4"></span></p>
                            <p class="my-1 text-muted">Coustomer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <figure class="m-0">
                            <img src="{% static 'img/testimonial.jpg' %}" alt="user" class="d-block mx-auto" />
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <!--                        <h2>Rental is full service supplier</h2>-->
                        <p class="mb-md-5">“It’s an amazing website. I didn’t have to work hard to search for the desired vehicle for my landfill. Thank you guys,”</p>
                        <div class="user">
                            <p class="d-flex align-items-center my-1">Andrew <span class="ml-3 star-rate rate-4"></span></p>
                            <p class="my-1 text-muted">Coustomer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="{% static 'js/count.js' %}"></script>
<script>
    $('.counter').countUp();

</script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $("#testimonial-box").owlCarousel({
            items: 1,
            nav: true,
            dots: false
        });
    });

    function search() {
        var data = $("#cat-1").val()
        if (data == null) {
            alert("Please select a Category.");
            return false;
        }

        url = '/web/customer/' + data + '/category'
        window.location = url
    }

</script>
{%  include 'login/footer.html' %}
<script>
    $(document).ready(function() {
        $("#cat-1").change(function() {
            var cat1 = $(this).children("option:selected").val();
            $("#cat-2").html('');
            if (cat1 == 'truck') {
                $("#cat-2").append('<option selected="selected" disabled="disabled">Select Category</option><option value="Tata 407">Tata 407</option><option value="Tata Car">Tata Car</option>');
            }
            if ((cat1 == 'equipment')) {
                $("#cat-2").append('<option selected="selected" disabled="disabled">Select Category</option><option value="hammer">Hammer</option><option value="Tool Box">Tool Box</option>');
            }

        });
    });

</script>
